<div class="menu">
  <a href="#" class="icon-main">C</a>
  <a href="#skills" class="icon-skills"></a>
  <a href="#projects" class="icon-projects"></a>
  <a href="#contact" class="icon-contact"></a>
  <div class="divider"></div>
  <a href="https://www.linkedin.com/in/cassio-leite-589541a1/" target="_blank" class="icon-linkedin"></a>
  <a href="https://github.com/cassioabl" target="_blank"  class="icon-github"></a>
  <a href="https://www.youtube.com/@codeyourself6251" target="_blank" class="icon-youtube"></a>
</div>

<section class="main">
  <div class="content">
    <div class="leftside">
      <h1>Olá,<br />
        Eu sou o <span>C</span>assio,<br />
        desenvolvedor web
      </h1>
      <a href="#contact" class="btn-contact">Entrar em contato</a>
    </div>
    <div class="img"></div>
  </div>
</section>

<section class="skills" id="skills">
  <h1>Competências</h1>

  <p>Backend</p>
  <div class="loading backend"></div>

  <p>Frontend</p>
  <div class="loading frontend"></div>

  <p>Devops</p>
  <div class="loading devops"></div>

  <p>Mobile</p>
  <div class="loading mobile"></div>
</section>

<section class="projects" id="projects">
  <h1>Portfólio e<br/> Experiências</h1>

  <div class="boxes">
    <div class="box blue">
      <a target="_blank" href="https://www.linkedin.com/in/cassio-leite-589541a1/">NOS Inovação</a>
    </div>
    <div class="box red">
      <a target="_blank" href="https://www.linkedin.com/in/cassio-leite-589541a1/">Mind Source</a>
    </div>
    <div class="box blue">
      <a target="_blank" href="https://www.linkedin.com/in/cassio-leite-589541a1/">Code Yourself</a>
    </div>
  </div>
  <div class="boxes">
    <div class="box orange">
      <a target="_blank"  href="https://www.linkedin.com/in/cassio-leite-589541a1/">paySimplex</a>
    </div>
    <div class="box green">
      <a target="_blank"  href="https://www.linkedin.com/in/cassio-leite-589541a1/">BHS</a>
    </div>
    <div class="box orange">
      <a target="_blank"  href="https://www.linkedin.com/in/cassio-leite-589541a1/">Attps Tecnologia</a>
    </div>
  </div>

</section>

<section class="contact" id="contact">
  <h1>Entrar em<br/>contato</h1>

  <div class="form">
    <div class="row">
      <input class="input" type="text" placeholder="Nome" [(ngModel)]="name">
      <input class="input" type="text" placeholder="Email" [(ngModel)]="email">
    </div>
    <input class="input" type="text" placeholder="Assunto" [(ngModel)]="subject">
    <textarea class="textarea" placeholder="Mensagem" [(ngModel)]="message"></textarea>
    <button class="submit" type="submit" (click)="sendMessage()">Enviar</button>
  </div>
</section>